<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.orionisli.gh0stra1n.permission.ACCESS_OVERLAY_SERVICE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.orionisli.gh0stra1n.permission.ACCESS_OVERLAY_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Gh0stra1n"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Gh0stra1n.Sakura"
        android:allowBackup="false"
        android:supportsRtl="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ImageAnalysisActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PartitionExplorerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".Gh0stOverlayService"
            android:process=":daemon"
            android:exported="true"
            android:permission="com.orionisli.gh0stra1n.permission.ACCESS_OVERLAY_SERVICE"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="com.orionisli.gh0stra1n.OVERLAY_SERVICE" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="OverlayFS status monitor and background IPC daemon" />
        </service>
    </application>
</manifest>